*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
}
.App-header {
  border-bottom: 3px solid #E0434C;
  display: flex;
  align-items: center;
  height: 162px;
  width: 100%;
}
.App-header img {
  height: 200px;
  width: 200px;
}
.App-header h1 {
  color: #E0434C;
  font-weight: 900;
  font-size: 2rem;
}
.App-body {
  margin-top: 4rem;
  height: calc(100vh - 7rem - 162px);
}
.App-body p {
  margin-left: 3rem;
}
.App-footer {
  border-top: 3px solid #E0434C;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  height: 3rem;
  width: 100%;
}
